@charset "utf-8";

.example1{
  color: red;
}

footer{
    clear: both;
    color: #fff;
    background-color: #666;
    padding: 20px 10px 25px;
}

footer p {
  margin: 0;
  padding: 0;
}

footer p a{
  font-size: 90%;
  color: #fff;
}

footer small{
  font-size: 12px;
  font-weight: bold;
  display: block;
}



